# IDE support files
/.classpath
/.project
/.settings
/.idea
*.iml

*.log

# plugin release file
grails-glyph-icons-*.zip
grails-glyph-icons-*.zip.sha1
plugin.xml

# "temporary" build files
/target
/out

# other
*.iws
web-app/WEB-INF