<plugin name='glyph-icons' version='0.1.0' grailsVersion='2.0 &gt; *'>
  <author>Eric Buitenhuis</author>
  <authorEmail>eric.buitenhuis@gmail.com</authorEmail>
  <title>Glyph Icons Plugin</title>
  <description>A simple plugin that bundles free icons from http://glyphicons.com and provides a handful of convenient taglibs
that create asynchronous buttons out of the icons.
</description>
  <documentation>https://github.com/ericbuitenhuis/grails-glyph-icons/wiki</documentation>
  <type>GlyphIconsGrailsPlugin</type>
  <resources>
    <resource>com.lce.atg.grails.plugin.GlyphIconsPluginTagLib</resource>
  </resources>
  <repositories>
    <repository name='grailsCentral' url='http://grails.org/plugins' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
  </repositories>
  <dependencies />
  <plugins />
  <runtimePluginRequirements />
  <behavior />
</plugin>